<div class="home_wrapper">
	<div class="home-weather-side">
		<h1><%= @forecast.currently.temperature.round() %>&deg;F</h1>
	</div>
	
	<div class="home-news-story-list">
		<ul class="mdl-list mdl-shadow--2dp">
			<% @stories.take(5).each do |story| %>
				<li class="mdl-list__item"><%= story.headline %></li>
			<% end %>
		</ul>
	</div>
	
	<div class="home-reminders-list">
		<ul class="mdl-list mdl-shadow--2dp">
			<% @reminders.each do |reminder| %>
				<li class="mdl-list__item mdl-list__item--two-line reminder_item">
					<span class="mdl-list__item-primary-content">
						<% if reminder.checked %>
							<i class='material-icons mdl-list__item-icon'>done</i>
						<% else %>
							<i class='material-icons mdl-list__item-icon'>crop_din</i>
						<% end %>
						<span><%= reminder.content %></span>
						<span class="mdl-list__item-sub-title">Due: <%= reminder.for_date.strftime("%D") %></span>
					</span>
				</li>
			<% end %>
		</ul>
	</div>
</div>