/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "material";

/*
 * Custom SCSS
*/

* {
    font-family: "Roboto", sans-serif;
}

body, html {
    margin: 0;
    height: 100%;
    position: relative;
/*    background: #212121;*/
}

header {
    background: rgb(84, 110, 122);
    height: 3em;
/*    line-height: 2em;*/
    text-align: center;
    padding: .25em 0 .25em;
    
    h4 {
        margin-top: 0;
        font-weight: 100;
        color: #eeeeee;
    }
}

@import "nav.scss";
@import "pages.scss";
@import "weather.scss";
@import "reminders.scss";