// Place all the styles related to the Reminders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.reminders_list {
	width: 80%;
	margin: 1em auto;
}

.reminder_item:hover {
	background: #F5F5F5;
}

.add_reminder_icon {
	position: absolute;
	right: 2em;
	top: 1em;
	font-size: 4em;
	color: #8BC34A;
}

.overdue_reminders_header {
	font-weight: 100;
}

.field {
	text-align: center;
}